/** contact-form-area **/
.contact-form{
    .your_email,
    .your_name{
        padding: 20px 30px;
        border-color: #CCCCCC;
        color: #CCCCCC;
    }
    .your_email{}
    .your_comment{
        min-height: 250px;
    }
    .form-submit{
        width: 168px;
        height: 48px;
        margin: 0 auto;
        display: block;
        font-weight: 600;
        padding: 0;
        border: 0;
        font-size: 16px;
        border-radius: 5px;
    }

    .form-control:focus {
        color: #212529;
        border-color: #7497B6;
        box-shadow: inherit;
    }
}



/** responsive css **/ 
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}


/* Extra small Device. */
@media (max-width: 767px) {

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {


}

