/* ----------------------------------
    Feature Section 
 ------------------------------------ */

.center_div{
	width: 15rem;
	height: 15rem;
	position: relative;
}
.rot {
	width: 25rem;
	height: 24rem;
	position: absolute;
	border-left: 0.1rem solid #00aaff;
	border-radius: 50%;
	left: 50%;
	top: 6%;
}

.slider-nav .slick-prev {
  position: absolute;
  top: 66%;
  right: 4%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #00aaff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 39px;
  font-size: 30px;
  border: 1px solid #00aaff;
}
.slider-nav .slick-prev:hover{
  background: #00aaff;
  color: #fff;
}
.slider-nav .slick-next {
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: #00aaff;
  color: #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 39px;
  font-size: 30px;
  border: 1px solid #00aaff;
}
.slider-nav .slick-next:hover{
  background: transparent;
  color: #00aaff;
}
.slider-for {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 30% 0px 0px 30%;
}
.item img{
	width: 100%;
	min-height: 100%;
}
.slider-for .slick-dots {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 23px;
}
.slider-for .slick-dots li {
	display: inline-block;
	margin: 0px 10px;
}
#slick-slide-control00 {
	position: absolute;
	bottom: -10rem;
	background: #080202;
	padding: 5px;
	height: 70px;
	width: 70px;
	border: 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: halfBounce 5s infinite;
	animation: halfBounce 5s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
#slick-slide-control01 {
	position: absolute;
	left: 1rem;
	background: #080202;
	padding: 5px;
	height: 70px;
	width: 70px;
	border: 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: halfBounce 5s infinite;
	animation: halfBounce 5s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	top: -15rem;
}
#slick-slide-control02{
  position: absolute;
  left: -6rem;
  background: #080202;
  padding: 5px;
  height: 70px;
  width: 70px;
  border: 0;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: halfBounce 5s infinite;
  animation: halfBounce 5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  top: -13rem;
}
#slick-slide-control03 {
  position: absolute;
  left: -9rem;
  background: #080202;
  padding: 5px;
  height: 70px;
  width: 70px;
  border: 0;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: halfBounce 5s infinite;
  animation: halfBounce 5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  top: -5rem;
}
#slick-slide-control04 {
	position: absolute;
	left: -6rem;
	background: #080202;
	padding: 5px;
	height: 70px;
	width: 70px;
	border: 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: halfBounce 5s infinite;
	animation: halfBounce 5s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	top: 4rem;
}

#slick-slide-control05 {
	position: absolute;
	left: 2rem;
	background: #080202;
	padding: 5px;
	height: 70px;
	width: 70px;
	border: 0;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: halfBounce 5s infinite;
	animation: halfBounce 5s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	top: -15rem;
}
.slider-for .slick-dots li button {
	position: absolute;
	bottom: 30%;
	background: rgb(8, 2, 2);
	padding: 5px;
	text-indent: -9999px;
	height: 13px;
	width: 13px;
	border: 0;
	border-radius: 50%;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.icon-section {
	padding: 100px 0px;
	position: relative;
	background: #f1f5fe;
}
.icon-content .icon {
	background: #1373eb;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.icon-content h3 {
	font-size: 22px;
	font-weight: 400;
	color: #000;
	text-transform: capitalize;
	padding: 10px 0px;
}
.border-bottom {
	position: absolute;
	right: 18%;
	bottom: 34%;
	width: 69%;
	height: 0px;
  z-index: -1;
}
.icon-content {
	position: relative;
	z-index: 9;
}
.icon-content img {
	position: absolute;
	width: 61px;
	top: 38px;
	left: 45px;
	color: #fff;
}

.border-images {
	position: absolute;
	width: 100%;
	text-align: center;
	left: -30px;
	bottom: 63px;
}
.border-images img {
	width: 75%;
	margin-top: 10px;
}
.row.icon-row {
	position: relative;
}
.icon-row .col-item:nth-child(2n) {
  margin-top: 50px;
}