.custom-pagination{
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
    ul{
        text-align: center;
        li{
            display: inline;
            margin-right: 5px;
            span.current{
                color: #fff;
                background-color: #000;
                padding: 10px 20px; 
                border:1px solid #000;
                display: inline-block;
            }
            span.dots{
                padding: 10px 20px; 
                display: inline-block;
            }
            a{
                color: #000;
                border:1px solid transparent;
                padding: 10px 20px;
                text-decoration: none;
                display: inline;
                &:hover{
                    border:1px solid #000;
                }
                &.prev{
                    border:1px solid #000;
                }
                &.next{
                    border:1px solid #000;
                }
                &.prev:hover,
                &.next:hover                
                {
                    color: #fff;
                    background: #000;
                    border:1px solid #000;
                }
            }

        }
    }
}
