.custom-pagination{
    display: block;
    overflow: hidden;
    padding: 21px 0 18px;
    ul{
        text-align: center;
        li{
            display: inline;
            margin-right: 0;
            span.current{
                color: #fff;
                background-color: #000;
                border: 1px solid #000;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            span.dots{
                padding: 10px 20px; 
                display: inline-block;
            }
            a{
                color: #000;
                border:1px solid transparent;
                text-decoration: none;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                &:hover{
                    color: #fff;
                    background: #000;
                }
                &.prev{
                }
                &.next{
                }
                &.prev:hover,
                &.next:hover                
                {
                    color: #fff;
                    background: #000;
                }
            }

        }
    }
}
