/**
* Popular Products
*/
.popular-product-area{
    .single-popular-product-item{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: rgba(0, 187, 254, .9);
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }
        .popular-product-thumb{
            
            img {
                width: 100%;
            }
        }
        .popular-product-content{
            // transition: .3s;
            // background-color: rgba(13, 110, 253, .8);
            // position: absolute;
            // top: 100%;
            // margin: 0 auto;
            // left: 0;
            // right: 0;
            // bottom: 0;
            .icons{
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                a{
                    margin: 0 5px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    display: inline-block;
                    background-color: #00AAFF;
                    border-radius: 50%;
                    color: #fff;
                    i{
                        font-size: 20px;
                    }
                    &:hover{
                        background-color: #fff;
                        color: #00AAFF;
                    }
                }
            }
        }


        &:hover .overlay{
            opacity: 1;
            visibility: visible;
        }

        &:hover .popular-product-content .icons{
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            left: 0;
            right: 0;
        }

    }

    .theme-btn{
        padding-left: 50px;
        a{
            background-color: #1273EB;
            border-color: #1273EB;
            padding: 0;
            border-radius: 7px;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            width: 168px;
            height: 48px;
            line-height: 48px;
            box-sizing: border-box;
        }
    }
}



/** responsive css **/ 
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}


/* Extra small Device. */
@media (max-width: 767px) {

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {


}
