/**
* Popular Products
*/
.search-page-area{
    .theme-btn{
        padding-left: 50px;
        a{
            background-color: #1273EB;
            border-color: #1273EB;
            padding: 0;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            width: 168px;
            height: 48px;
            line-height: 48px;
        }
    }
}




/** responsive css **/ 
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


/* Extra small Device. */
@media (max-width: 767px) {

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
