$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?3a7e4ae51a4e7e146d1294764aed07f1") format("truetype"),
url("./flaticon.woff?3a7e4ae51a4e7e146d1294764aed07f1") format("woff"),
url("./flaticon.woff2?3a7e4ae51a4e7e146d1294764aed07f1") format("woff2"),
url("./flaticon.eot?3a7e4ae51a4e7e146d1294764aed07f1#iefix") format("embedded-opentype"),
url("./flaticon.svg?3a7e4ae51a4e7e146d1294764aed07f1#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "left-arrow": "\f101",
    "right-chevron": "\f102",
    "suitcase": "\f103",
    "monitor": "\f104",
    "printer": "\f105",
    "phone-call": "\f106",
    "hand-shake": "\f107",
    "handshake": "\f108",
    "desktop": "\f109",
    "computer": "\f10a",
    "desktop-1": "\f10b",
    "computer-1": "\f10c",
    "pinterest": "\f10d",
    "facebook": "\f10e",
    "printer-1": "\f10f",
    "briefcase": "\f110",
    "paper-plane": "\f111",
    "desktop-2": "\f112",
    "light-bulb": "\f113",
    "placeholder": "\f114",
    "phone-call-2": "\f115",
    "mail": "\f116",
    "link": "\f117",
    "heart": "\f118",
    "right": "\f119",
    "left-arrow-1": "\f11a",
    "right-arrow": "\f11b",
    "letter-x": "\f11c",
    "left-arrow-2": "\f11d",
    "user": "\f11e",
    "calendar": "\f11f",
    "download": "\f120",
    "right-arrow-1": "\f121",
    "left-arrow-3": "\f122",
    "left-arrow-4": "\f123",
    "left-arrow-5": "\f124",
    "left-arrow-6": "\f125",
    "menu-1": "\f126",
    "menu-2": "\f127",
);

.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-right-chevron:before {
    content: map-get($flaticon-map, "right-chevron");
}
.flaticon-suitcase:before {
    content: map-get($flaticon-map, "suitcase");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-printer:before {
    content: map-get($flaticon-map, "printer");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-hand-shake:before {
    content: map-get($flaticon-map, "hand-shake");
}
.flaticon-handshake:before {
    content: map-get($flaticon-map, "handshake");
}
.flaticon-desktop:before {
    content: map-get($flaticon-map, "desktop");
}
.flaticon-computer:before {
    content: map-get($flaticon-map, "computer");
}
.flaticon-desktop-1:before {
    content: map-get($flaticon-map, "desktop-1");
}
.flaticon-computer-1:before {
    content: map-get($flaticon-map, "computer-1");
}
.flaticon-pinterest:before {
    content: map-get($flaticon-map, "pinterest");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-printer-1:before {
    content: map-get($flaticon-map, "printer-1");
}
.flaticon-briefcase:before {
    content: map-get($flaticon-map, "briefcase");
}
.flaticon-paper-plane:before {
    content: map-get($flaticon-map, "paper-plane");
}
.flaticon-desktop-2:before {
    content: map-get($flaticon-map, "desktop-2");
}
.flaticon-light-bulb:before {
    content: map-get($flaticon-map, "light-bulb");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-phone-call-2:before {
    content: map-get($flaticon-map, "phone-call-2");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-link:before {
    content: map-get($flaticon-map, "link");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-right:before {
    content: map-get($flaticon-map, "right");
}
.flaticon-left-arrow-1:before {
    content: map-get($flaticon-map, "left-arrow-1");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-letter-x:before {
    content: map-get($flaticon-map, "letter-x");
}
.flaticon-left-arrow-2:before {
    content: map-get($flaticon-map, "left-arrow-2");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-download:before {
    content: map-get($flaticon-map, "download");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon-map, "right-arrow-1");
}
.flaticon-left-arrow-3:before {
    content: map-get($flaticon-map, "left-arrow-3");
}
.flaticon-left-arrow-4:before {
    content: map-get($flaticon-map, "left-arrow-4");
}
.flaticon-left-arrow-5:before {
    content: map-get($flaticon-map, "left-arrow-5");
}
.flaticon-left-arrow-6:before {
    content: map-get($flaticon-map, "left-arrow-6");
}
.flaticon-menu-1:before {
    content: map-get($flaticon-map, "menu-1");
}
.flaticon-menu-2:before {
    content: map-get($flaticon-map, "menu-2");
}
